body {
    background-color: #E9ECEF;
}

.resize {
    width: 150px;
    height: auto;
    position: relative;
    top: 53px;
}

.display-4{
    position: relative;
    top: 40px;
}

.form_position{
    position: relative;
    top: 50px;
    width: 31%;
    left:380px; 
}

.navbar-custom{
    background-color:#0A4DA9
}

