.table{
    margin-top: 50px; 
}

.display-4{
    position: relative;
    top: 40px;
}

body {
    background-color: #E9ECEF;
}

.resize {
    width: 150px;
    height: auto;
    position: relative;
    top: 53px;
}

.navbar-custom{
    background-color:#0A4DA9
}

.form_position{
    margin-top: 50px;
    margin-left: 465px;
}

.alert {
    width:500px;
    margin-left: 300px;    
}

.form_position-modificar{
    margin-left: 300px;
    margin-right: 300px;
}

